a:hover {
    background-color: rgba(217, 162, 252, 0.518);
    opacity: 0.8;
    border-radius: 5px;
    }

#title1,#title2{
    font-family: 'Merienda', cursive; 
    font-size: 25px;
}

.red-letter{
    color: red;
}


@media only screen and (max-width: 600px){
    #takeout_card, #delivery_card{
        height: 100%;
    }


}

@media only screen and (min-width: 601px){

    #takeout_card, #delivery_card{
        height: 500px;
    }

}

@media only screen and (min-width: 1200px){

    #takeout_card, #delivery_card{
        height: 550px;
    }
}