a:hover {
    background-color: rgba(217, 162, 252, 0.518);
    opacity: 0.8;
    border-radius: 5px;
    }

#title1,#title2{
    font-family: 'Merienda', cursive; 
    font-size: 25px;
}

.red-letter{
    color: red;
}

